<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Library </title>

    <!--  ************************************************** Style ***************************************************** -->
<style>
  body {
background-color: #153448;
  }

  h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
    text-align: center;
  }

label {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  color: whitesmoke;
  display: flex;
  text-align: center;
  justify-content: left;
}

button {
  display: flex;
  text-align: center;
  justify-content: left;
}
</style>
</head>

  <!--  ************************************************** Body ***************************************************** -->
<body>
  
  <h1> Check out our Library! </h1>
<hr>


  <br>
  


</body>
</html>